.checkbtn{
    /* font-size: 30px; */
    margin-right: 30px;
    /* border: 3px solid #d9d9d9; */
    border-radius: 5px;
    padding: 8px ;
    color:#fff;
    display: none;
}
.checkbtn i{
    align-items: center;
    padding: 40px 10px;
    font-size: 40px;
    
}
#check{
    display: none;
}
@media(max-width:576px){
    .navbar{
        border: none;
    }
        
    
    .navlinks{
        font-size: 15px;
        position: absolute;
        flex-direction: column;
        display: none;
        padding: 0px 25px 30px ;
        width: 100%;
        height: 150px;
        margin-top: 140px;
    }
    .navlinks li{
        background-color: #d9d9d9;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 50px;
        width: 100%;
    }
    .navlinks li a{
        padding: 5px;
        color: black;
        /* font-family: 'Noto Serif Vithkuqi', serif; */
    }
    .navlinks li:hover{
        background-color: gray;
    }
    
    .checkbtn{
        display: block;
    }
    #check:checked~.navlinks{
        display: flex;
    }
    .logo img{
        margin-left: -165px;
        padding: 0px 0px 0px;
    
        
    }
    .herosection{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    
    .contentbox{
        width: 100%;
    }
    .mainimg{
        width: 50%;
        overflow: hidden;
        /* display: flex; */
        /* flex-direction: column; */
    }
    .contentbox2{
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-left:-30px;
        padding-top: 20px;
        
    }
    .maincontent{
        width: 80%;
    }
    .quote{
        margin-left: -200px;
        width: 60%;
    }
    .contentbox3{
        width: 100%;
        padding-right: 80px;
    }
    .contentsection{
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 30px -150px;
        /* margin-right: 100px; */
        
    }
    
    .iconbar{
        width: 100%;
        display: flex;
        align-items: center;
    }
    .iconbar i{
        font-size: 10px;
        width: 30%;
    }
    .credit{
        font-size: 10px;
        width: 50%;
        padding: 5px;
    }
    .maincontent{
        border:none
    }
    .feature{
        padding: -30px -50px;
    }
    .contentbox3{
        padding: 0px -60px;
    }
    .contactsection{
        width: 100%;
        padding: 10px;

    }
     .news {
        border: none;
    }
    .contact{
        border: none;
    }
    
    
        
        
        
    
}